<footer id="footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-3">
          <h4 class="footer-list-heading">联系方式</h4>
            <nav>
              <ul>
                <li><a href="http://weibo.com/BeginMan/" target="_blank">新浪微博</a></li>
                <li><a href="mailto:xinxinyu2011@163.com?subject=你好,BeginMan">163邮箱</a></li>
                <li><a href="https://github.com/BeginMan/" target="_blank">GitHub</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-lg-2">
            <h4 class="footer-list-heading">站点导航</h4>
            <nav>
              <ul>
                <li><a href="http://beginman.cn/" target="_blank">另一个Blog</a></li>
                <li><a href="http://www.cnblogs.com/BeginMan/"  target="_blank">博客园Blog</a></li>
                <li><a href="/about/" target="_blank">About.</a></li>
              </ul>
            </nav>
          </div>



          <div class="col-lg-7">
            <h4 class="footer-list-heading"><a href="/pigeonhole/">博客归档</a></h4>

          </div>
        </div>
      </div>
    </footer>
    <div id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <p id="copyright-section">  尚未备案 | <a href="https://docs.djangoproject.com/en/1.5/" target="_blank">Made by Django</a> | BeginMan
            </p>
          </div>
          <div class="col-lg-4 text-center">
            <a href="http://drifty.com"><div class="asset drifty-logo" id="transparent"></div></a>
          </div>
          <div class="col-lg-4">
            <p id="love"><a href="/login/">登 录</a> <span class="love-icon"></span> <a href="">发布博客</a></p>
          </div>
        </div>
      </div>
    </div>