
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">BeginMan的博客</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BeginMan</a>
        </div>
        <div class="navbar-collapse collapse" id="webnav">
          <ul class="nav navbar-nav">
            <li><a href="http://beginman.cn/">Home</a></li>
            <li class="active"><a href="/">Blog</a></li>
            <li id="wiki"><a href="/wiki/">Wiki</a></li>
            <li id="pic"><a href="/pic/">Picture</a></li>
            <li id="about"><a href="/about/">About</a></li>
            <li id="contact" style="display: none"><a href="/resume/">Resume</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">English<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/english/">每日英语</a></li>
                <li><a href="/english/word/">每日单词</a></li>
                <li class="divider"></li>
                <!--<li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
                -->
              </ul>
            </li>
            <li id="contact" style="display: none"><a href="http://jianshu.io/users/326dee56a4f1/latest_articles">文笔</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li id="manage"><a href="/manage/add/">Add+</a></li>
          <li id="manage"><a href="/manage/upload/">Upload+</a></li>
          <li><a href="/">Hi,BeginMan</a></li>
          <li><a href="/logout/">logout</a></li>
          {% endif %}
          <li><a href="/feed/"><img src="/site_media/img/rss.png" alt="" width="25" height="25"/></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>