<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BeginMan的博客</title>
    <!-- All in One SEO Pack 2.1.7 by Michael Torbert of Semper Fi Web Design[326,357] -->
    <meta name="description" content="BeginMan. 享受编程和技术所带来的快乐 – http://blog.beginman.cn/" />
    <meta name="keywords" content="Pyhton,Django,BeginMan,算法,JavaScript,Mysql,BeginMan,Android,Bash,book,Coding,CSS,Database,Google,HTML,IE,Java,Javascript,jQuery,Linus Torvalds,Linux,MySQL,OS,Programmer,programming,language,Python,Beginman的博客,SQL,Ubuntu,UI,Unix,vim,Web,beginman" />
    <link rel='next' href='http://blog.beginman.cn/about/' />
    <link rel="canonical" href="http://blog.beginman.cn/" />
    <meta property="og:title" content="BeginMan - blog.beginman.cn" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="http://blog.beginman.cn/" />
    <!-- /all in one seo pack -->
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="/site_media/img/favicon.ico">
    <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/site_media/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/site_media/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--百度统计代码-->
      <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?c65358e73ce306691a49ae5119f58783";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!--END-->
    {% block css %}{% endblock %}
  </head>
  <body>
    {% if not is_blog_view %}{% include 'common/head.html' %}{% else %}<a href="/" class="text-center" style="display: block; margin: 0 auto">返回首页</a>{% endif %}
    {% if not is_blog_view %}
    <div class="container theme-showcase" style="width: 1250px;">
        <div class="row">
            <!--左侧-->
            <div class="col-md-9">
                <div class="panel panel-default" style="padding: 20px;">
                    <div class="panel-body">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
             <!--右侧-->
            <div class="col-md-3">
                {% include 'common/userinfo.html' %}
                <div id="sideinfo"></div>
                {% include 'common/comment.html' %}
                {% block side %}{% endblock %}
            </div>
        </div>
    </div> <!-- /container -->
    {% else %}
        <div class="container theme-showcase" style="width: 1250px;">
        <div class="panel-body">
            {% block contentBlog %}{% endblock %}
         </div>
        </div>
    {% endif %}
    <div class="actGotop"><a href="javascript:;" title="返回顶部"></a></div>
   {% if not is_blog_view %}{% include 'common/footer.html' %}{% endif %}

    <script src="/site_media/js/jquery-2.0.1.min.js"></script>
    <script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
    <script src="/site_media/js/jquery.jbasicext.js"></script>
    <script src="/site_media/js/common.js"></script>
  </body>
	<script type="text/javascript">
	$(function(){   
	    $(window).scroll(function() {      
		if($(window).scrollTop() >= 100){
		    $('.actGotop').fadeIn(300); 
		}else{    
		    $('.actGotop').fadeOut(300);    
		}  
	    });
	    $('.actGotop').click(function(){
	    $('html,body').animate({scrollTop: '0px'}, 800);});
        // 异步加载侧栏
       {% if not is_blog_view %} getSideinfo();{% endif %}
	});
    function getSideinfo(){
        var url='/blog/common/'
        $.post(url,function(data){
            $('#sideinfo').html(data)
        })
    }
	</script>
    {% block js %}{% endblock %}
</html>
